#devr {
    position: fixed;
    top: 0;
    left: 0;
    background: #df4528;
    padding: 10px 3px 10px 5px;
    color: #fff;
    font-size: 12px;
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

#devr:hover {
    background: #c1371d;
    cursor: pointer;
}
